body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

hr {
  border: 1px solid #ddd;
  margin: 20px 0;
}

input[type="text"] {
  width: 100vh;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}

.contains {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.qrcode {
  margin: 20px;
}

button {
  background-color: #9b9b9b;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px auto;
  display: block;
  outline: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dddddd;
  color: #333;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 2rem;
  }

  input[type="text"] {
    width: 80%; /* Changed from 80vh to 80% */
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  input[type="text"] {
    width: 80%; /* Changed from 60vh to 100% */
  }
}
